//colors---------------

$Turquoise: #2ae3b1;
$White: #fff;
$Malibu: #4edfff;
$SilverChalice: #a8a8a8;
$PastelGreen: #89dd82;
$Sunglo: #e26a6a;
$BurntSienna: #e76b3d;
$Deluge: #705faa;
$Riptide: #8cebe2;
$BlueChill: #118190;
$Anakiwa: #9ce7ff;
$LondonHue: #b592c1;
$DeYork: #85ce8c;
$CornflowerLilac: #feb0a2;
$Jaffa: #f28556;
$Spray: #7fdcf1;
$SeaPink: #ec9e9e;
$Cyan: #0fd4ff;

//Fonts--------------

$PtSans: 'PT Sans', sans-serif;
$Montserrat: 'Montserrat', sans-serif;



//Media----------------

$brkpoint-sm: 480px;
$brkpoint-md: 700px;
$brkpoint-lg: 1400px;
